.container{
font-family: "Comic Sans MS";
margin:auto;
width:80%;
text-align:center;
}

.password{
background-color: rgb(175,197,204);
width: 100%;
height:100px;
}

.passwordGen{
font-family: "Courier New";

}

.explanation{
margin-top:400px;

}

.comic{
max-width: 100%;
height: auto;
width: auto\9; /*ie8*/
margin-left:33%;
margin-right:33%;
}

.polo{
height: 100px;
width: 100px;
align-items:flex-end;
}

.form{
-webkit-columns: 100px 3; /* Chrome, Safari, Opera */
-moz-columns: 100px 3; /* Firefox */
columns: 100px 3;
}
